/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* 
 * page styles
 */

body{
  background: #000;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
.wrapper {
  background: url(../img/bg.png) repeat center fixed;
}
h1,h2,h3,h4{
  font-family: 'Rancho', cursive;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.header{
  background: #000000b8;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 100;
}
.logo img{
  float: left;
  width: 150px;
  margin-left: 15px;
}
.content{
  margin: 70px 0 0;
  padding: 30px 0 0;
}
.content.home{
  
}
.button{
  background: gray;
  padding: 0 10px;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}
.nav_order_now{
  background: #d9251f;
  float: right;
  margin: 8px 15px 0 0;
}
i {
  display: inline-block;
  width: 40px;
  height: 40px;
}

/* ================================= */
.welcome {
  font-family: 'Rancho', cursive;
  font-size: 30px;
  text-shadow: -3px 5px 3px #000;
  text-align: center;
  margin: 0 0 20px 0;
}
.home .content_item {
  background: #0000007d;
}
.home .content_item a {
  color: #fff;
}
.home .content_item > li {
  border-bottom: 1px #726f6f dashed;
  padding: 15px;
}
.home .content_item > li:last-child{
  border: none;
}
.home .content_item h2 {
  font-family: 'Rancho', cursive;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 15px 0;
  text-align: center;
}
.home .content_item h3{
  font-family: 'Rancho', cursive;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}
.content_item i {
  float: left;
  margin: 0 15px 0 0;
}
i.tiffin {
  background: url(../img/dosa.png) left top no-repeat;
  background-size: 40px;
}
i.lunch_dinner {
  background: url(../img/dinner.png) left top no-repeat;
  background-size: 40px;
}
i.wine {
  background: url(../img/cheers.png) left top no-repeat;
  background-size: 40px;
}
i.call {
  background: url(../img/call.png) left top no-repeat;
  background-size: 30px;
}
i.clock {
  background: url(../img/wall-clock.png) left top no-repeat;
  background-size: 30px;
}
i.pin {
  background: url(../img/location-pin.png) left top no-repeat;
  background-size: 30px;
}
i.feedback {
  background: url(../img/feedback.png) left top no-repeat;
  background-size: 30px;
}

/* ================================= */
.menu_item_home a {
  color: #ffffff;
}
.brief{
  font-size: 13px;
}
.b_hours {
  padding: 15px;
  background: #f15f2a;
  color: #fff;
  margin: 0 20px 0 10px;
  box-shadow: 10px 10px 0 #f99e7c;
}
.b_hours h2 {
  text-align: left;
}
.b_hours ul {
  margin: 0 0 10px 0;
  font-size: 13px;
}
.b_hours ul li {
  display: flex;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ef7a4f;
}
.b_hours ul li .day {
  flex-grow: 1;
}
.map{
  width: 100%;
  height: 350px;
}

/* menau page style */
.menu_page {
  padding: 0;
}
.menu_banner {
  transition: all 200ms ease-out;
}
.menu_banner.tiffin {
  background: url(../img/dosa_bg.jpeg) no-repeat center center/ 100% auto;
}
.menu_banner.lunch_dinner {
  background: url(../img/lunch_bg.jpg) no-repeat center center/ 100% auto;
}
.menu_banner.happy_hour {
  background: url(../img/wine_bottles_bg.webp) no-repeat center center/ 100% auto;
}
.menu_banner:hover {
  background-size: 110% auto;
}
.menu_banner .banner_content {
  height: 150px;
  background: #000000a3;
  padding: 20px;
  transition: all 200ms ease-out;
}
.menu_banner .banner_content:hover {
  background: #0000007d;
}
.banner_content h1 {
  margin: 0;
  font-weight: normal;
  color: #f15f2a;
  text-shadow: 2px 2px 3px #000;
}
.menu_group {
  background: #0000007d;
}
.menu_group_item {
  max-height: 80px;
  border-bottom: 1px #726f6f dashed;
  transition: max-height 2s;
}
.menu_group_item:last-child {
  border: 0;
}
.menu_group_item.active {
  background: #fff;
  color: #000;
  max-height: 500em;
  border: 0;
}
.menu_group_item h2 {
  margin: 0;
  padding: 15px;
  position: relative;
  font-weight: normal;
}
.menu_group_item h2::after {
  content: '';
  background: #f15f2a url(../img/arrow.png) 60% center/12px no-repeat;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.menu_group_item.active h2::after {
  transform: rotate(90deg);
  transition: linear 200ms;
}
.menu_group_item h2 .type {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.menu_group_item .menu_content {
  display: none;
}
.menu_content .desc {
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 12px;
  border-top: 2px solid #c4cb8d;
  border-bottom: 2px solid #c4cb8d;
  padding: 10px;
  margin: 0 15px;
}
.menu_content footer {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  padding: 0 15px 15px;
}
.menu_group_item.active .menu_content {
  display: block;
}
.menu_list > li {
  display: flex;
  margin: 0 15px;
  padding: 15px;
  border-bottom: 1px dashed #b2b2b2;
}
.menu_list > li:last-child {
  border: none;
}
.menu_list .food_detail {
  flex-grow: 2;
  padding-right: 20px;
}
.menu_list .price {
  font-family: 'Rancho', cursive;
  font-size: 20px;
  color: #f15f2a;
}
.menu_list .food_detail h3 {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: normal;
}
.menu_list .brief {
  font-size: 13px;
  font-style: italic;
}
.menu_list .menu_sub_group {
  display: list-item;
  padding: 0;
}
.menu_list .menu_sub_group:nth-child(odd) {
  background: #e8ecc9;
}
.menu_list .menu_sub_group:nth-child(even) {
  background: #f2f2f2;
}
.menu_sub_group .food_detail {
  padding: 0;
}
.menu_sub_group h3 {
  padding: 15px;
  margin: 0;
}
.menu_list_sub li {
  margin: 0;
}
.menu_list .desc {
  margin: 0;
}
/* ------ footer ------ */
.footer {
  background: #000;
  border-top: 3px solid #333333;
  color: #fff;
  padding: 15px 0 20px 0;
  font-size: 12px;
}
.footer_links li {
  display: inline-block;
  margin: 0 0 0 10px;
}
.footer_links li a {
  display: block;
  text-indent: -99999em;
  width: 25px;
  height: 25px;
}
.footer_links li.fb a {
  background: url(../img/facebook.png) center center/25px 25px;
}
.footer_links li.insta a {
  background: url(../img/instagram.png) center center/25px 25px;
}
.footer_links li.yelp a {
  background: url(../img/yelp.png) center center/25px 25px;
}
.footer_links li.tripad a {
  background: url(../img/tripadvisor.png) center center/25px 25px;
}
.footer_links li.contact a {
  background: url(../img/phone.png) center center/25px 25px;
}
.footer_logo {
  text-align: right;
  margin: 15px 0 0;
  padding: 0 10px;
}
.footer_logo img {
  width: 50px;
}